.btn {
    font-family: $secondary-font;
    font-size: 22px;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
    &:hover {
        opacity: 0.8;
    }
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.5rem;
    opacity: 0.5;
    &:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.75;
    }
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, 0.25);
        opacity: 1;
    }
    &:disabled, &.disabled {
        pointer-events: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        opacity: 0.25;
    }
}