.about {
    .about-description {
        color: $text-color;
    }
}

.skill {
    padding: 15px;
    margin-top: 30px;
    .skill-content h5 {
        font-size: 26px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .skill-content p {
        color: $text-color-light;
    }
}