.skills-content {
  padding: 40px;
}
.skills-img {
  padding: 40px;
}
.skill-bars{
  margin-top: 40px;
  max-width: 550px;
  background: transparent;
  border-radius: 10px;
  .bar {
    margin: 20px 0;
    .info {
      margin-bottom: 5px;
      span {
        font-weight: 500;
        font-size: 17px;
        opacity: 0;
        animation: showText 0.5s 1s linear forwards;
      }
    }
    .progress-line{
      height: 10px;
      width: 100%;
      background: #f0f0f0;
      position: relative;
      transform: scaleX(0);
      transform-origin: left;
      border-radius: 10px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
      animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
      span{
        height: 100%;
        position: absolute;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        background: $primary-color;
        animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
        &::before {
          position: absolute;
          content: "";
          top: -10px;
          right: 0;
          height: 0;
          width: 0;
          border: 7px solid transparent;
          border-bottom-width: 0px;
          border-right-width: 0px;
          border-top-color: $black;
          opacity: 0;
          animation: showText2 0.5s 1.5s linear forwards;
        }
        &::after {
          position: absolute;
          top: -28px;
          right: 0;
          font-weight: 500;
          background: $black;
          color: $white;
          padding: 1px 8px;
          font-size: 12px;
          border-radius: 3px;
          opacity: 0;
          animation: showText2 0.5s 1.5s linear forwards;
        }
      }
      &.html {
        span {
          width: 90%;
          &::after {
            content: "90%";
          }
        }
      }
      &.css {
        span {
          width: 90%;
          &::after {
            content: "90%";
          }
        }
      }
      &.javascript {
        span {
          width: 50%;
          &::after {
            content: "50%";
          }
        }
      }
      &.python {
        span {
          width: 60%;
          &::after {
            content: "60%";
          }
        }
      }
      &.bootstrap {
        span {
          width: 85%;
          &::after {
            content: "85%";
          }
        }
      }
    }
  }
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
@keyframes showText2 {
    100%{
      opacity: 1;
    }
}